<br>
<% if flash[:alert] %>
	<div id = "error"> <%= flash[:alert] %> </div>
<% elsif flash[:logout] %>
	<div id = "message"> <%= flash[:logout] %> </div>
<% elsif flash[:notice] %>
	<div id = "message"> <%= flash[:notice] %> </div>
<% end %>


<h1>Log In</h1>

<%=form_tag log_in_path do%>
<%=label_tag :email %>
<br>
<%=text_field_tag :email %>
<br>
<%=label_tag :password %>
<br>
<%=password_field_tag :password %>
<br>
<%=submit_tag "Log in" %>
<%end%>
<br>
<%= link_to "Create Account", new_user_path %>