<%= current_user.id %>
<br>
<% if !@purchases.first.blank? %>

<%= form_tag(mypurchases_path, method: "delete") do %>
<table>
	<th> </th>
	<th> Name </th>
	<th> Item </th>
	<th> Link </th>
	<th> Amount </th>
	<th> Remaining </th>
	<% @purchases.each do |p| %>
		<tr>
			<td> <%= radio_button_tag "purchase", p.id %> </td>
			<td> <%= (User.where(:id => (Item.where(:id => p.item_id).first).user_id).first).name %> </td>
			<td> <%= (Item.where(:id => p.item_id).first).item_name %> </td>
			<td>
				<%= link_to (Item.where(:id => p.item_id).first).link, (Item.where(:id => p.item_id).first).link, :target => '_blank' %> 
			</td>
			<td> 
				<% Purchase.where(:item_id => p.item_id).each do |i| %> 
					<%=  "(" + number_to_currency(i.amount) + ") " %>
					<%= ((User.where(:id => i.user_id).first).name) == current_user.name ? "You" : (User.where(:id => i.user_id).first).name %>
					<br>
				<% end %>
			</td>
			<td> <%= number_to_currency(p.amountDifference(p.item_id)) %> </td>
		</tr>
	<% end %>
</table>
<br>
<br>
<% if !@deleted.first.blank? %>
	<%=  %>
	<%= "These are items that you have purchased but have since been deleted by the owner" %>
	<table>
		<th> </th>
		<th> Name </th>
		<th> Item Name </th>
		<th> Amount </th>
			<% @deleted.each do |d| %>
				<tr>
					<td> <%= radio_button_tag "purchase", d.id %> </td>
					<td> <%= (User.where(:id => (Item.where(:id => d.item_id).first).user_id).first).name %> </td>
					<td> <%= (Item.where(:id => d.item_id).first).item_name %> </td>
					<td> <%= number_to_currency(d.amount) %></td>
				<tr>
			<% end %>

	</table>
<br>
<% end %>
<%= submit_tag "Delete", data: {confirm: "Are you sure?"} %>
<% end %>
<% end %>
