<%= form_tag mypurchases_path do %>
<br>
<br>
<table>
	<th> Name </th>
	<th> Item </th>
	<th> Price </th>
	<th> Link </th>
	<th> Purchase </th>
	<% @item.each do |i| %>
		<tr>
			<td> <%= (User.find_by id: (Item.find_by id: i).user_id).name %> </td>
			<td> <%= (Item.find_by id: i).item_name %> </td>
			<td> <%= "$" + (Item.find_by id: i).price.to_s %> </td>
			<td> <%= link_to (Item.find_by id: i).link, (Item.find_by id: i).link, :target => '_blank' %> </td>
			<td> 
				<%= radio_button_tag :purchase, [i, current_user.id, "Full"] %> 
				<%= label_tag :purchase, "Full" %>
				<%= text_field_tag :f_amount, @purchase.amountDifference(i), readonly: true%>
				<%= radio_button_tag :purchase, [i, current_user.id, "Partial"] %>
				<%= label_tag :purchase, "Partial" %>
				<%= text_field_tag :p_amount, nil %>
				<%= submit_tag "Purchase" %>

			</td>
		</tr>

	<% end %>

</table>
<% end %>
<p>
	Contributors
</p>
<table>
	<th> Name </th>
	<th> Amount </th>
	<% @contribute.each do |c| %>
		<tr>
			<td> <%= (User.where(:id => c.user_id).first).name %> </td>
			<td> <%=  number_to_currency(c.amount) %> </td>
		</tr>
	<% end %>
</table>


<br>
<br>

<br>
<br>
<%= link_to "Back", others_path %>