<!DOCTYPE html>
<html>
  <head>
    <title>Giftlist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= link_to "My List", mylist_path %>
      <%= link_to "Others", others_path %>
      <%= link_to "Purchases", mypurchases_path %>
      <%= link_to "Log Out", log_out_path %>
    	<br>
      <%= yield %>
  </body>
</html>
